  <head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="../static/scripts.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Quicksand" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/materialize.min.css"  media="screen,projection"/>
  </head>

<div class="row form_register">
    <form method ="POST" action="" class="col s12">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class = "row form_register">
                <div class = "field input-field ">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="notification error"> {{ error}} </div>
                        {% endfor %}
                    {% endif %}
                    {{ field(placeholder=field.label.text) }}
                </div>
            </div>
        {% endfor %}
        <div class="row form_register">
            <button class="waves-effect waves-light btn" type="submit" id="register">Register</button>
        </div>
    </form>
</div>